@tailwind base;
@tailwind components;
@tailwind utilities;


.bgImage
{
    background-image: url(../public/mainLogo.png);
    /* bg-cover bg-center h-screen */
    background-size: cover;
    background-position: center;
    height: 100vh;
    /* margin-top: 10rem; */
    /* background-position: ; */
}